<nav class="col-md-3 col-lg-2 d-md-block bg-white sidebar shadow-sm">
    <ul class="nav flex-column mt-3">
        <li class="nav-item">
            <a class="nav-link sidebar-link <%= activePage === 'dashboard' ? 'active' : '' %>" href="/admin/dashboard">
                <i class="fa-solid fa-tachometer-alt me-2"></i>Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-link <%= activePage === 'categories' ? 'active' : '' %>" href="/admin/categories">
                <i class="fa-solid fa-grid-2 me-2"></i>Categories
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-link <%= activePage === 'products' ? 'active' : '' %>" href="/admin/products">
                <i class="fa-solid fa-tags me-2"></i>Products
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-link <%= activePage === 'customers' ? 'active' : '' %>" href="/admin/customers">
                <i class="fa-solid fa-user me-2"></i>Customers
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-link <%= activePage === 'orders' ? 'active' : '' %>" href="/admin/orders">
                <i class="fa-solid fa-bag-shopping me-2"></i>Orders
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-link <%= activePage === 'coupons' ? 'active' : '' %>" href="/admin/coupons">
                <i class="fas fa-percent me-2"></i>Coupons
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-link <%= activePage === 'refunds' ? 'active' : '' %>" href="/admin/refunds">
                <i class="fas fa-undo me-2"></i>Refund/Return
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-link <%= activePage === 'sales' ? 'active' : '' %>" href="/admin/sales">
                <i class="fas fa-chart-line me-2"></i>Sales Report
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-link logout-link" href="/admin/logout">
                <i class="fas fa-sign-out-alt me-2"></i>Sign Out
            </a>
        </li>
    </ul>
</nav>
